# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build output
out/
dist/
*.vsix

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Temp
tmp/
temp/